img {
    position: absolute;
}

/* #img-2 {
    margin-left: 500px;
} */

body {
    width: 100%;
   height: 100vh;
   margin: 0px;
   padding: 0px;
    overflow: hidden;
}

#redes {
    margin-left: 50px;
}