img {
    position: absolute;
}

/* #img-2 {
    margin-left: 500px;
} */

body {
    width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
    overflow: hidden;
}

#redes {
    margin-left: 10px;
    
}

#chibi {
    padding: 150px;
    position: absolute;
}

.p-5{
    padding: 0px !important;
}